.loginPage {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1614&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.go-home {
  font-size: 80px;
  margin-top: 20px;
  color: #fff;

  @media (max-width: 820px) {
    font-size: 60px;
  }

  @media (max-width: 414px) {
    font-size: 40px;
  }

  &:hover {
    color: $danger;
    position: relative;
    &::after{
      content: 'ⒼⓄ ⒽⓄⓂⒺ ⓅⒶⒼⒺ';
      font-size: 36px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-weight: bold;
      text-shadow: 0 0 4px $danger;
      background: rgba(255,255,255,.5);
      padding: 0 10px 10px;
      @media (max-width: 414px) {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }
  }
}



.login {
  @include size(700px, 385px, 500px, 385px, 300px, 320px, $bdrs15: true);
  border: 1px solid $dark-brown;
  padding: 20px;
  @include absolute-center;
  background: rgba(204, 204, 204, .6);

  label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;

    @media (max-width: 414px) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 10px;
      font-weight: bold;
      text-shadow: 0 0 2px #fff;
    }

    .input-error {
      position: absolute;
      bottom: -15px;
      font-size: 14px;
      font-style: oblique;

      @media (max-width: 414px) {
        font-size: 12px;
      }
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    font-size: 24px;


    @media (max-width: 414px) {
      font-size: 16px;
    }
  }

  input[type="submit"] {
    color: $dark-brown;
    background: $dark-brown;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .remember {
    position: relative;
    display: flex;
    align-items: baseline;

    span {
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 0 2px #fff;
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  p {
    text-align: center;
  }

  p span {
    cursor: pointer;
  }

  p span:hover {
    color: #fff;
  }
}