.reserve {
  margin-bottom: 36px;

  h2 {
    font-size: 36px;
    display: inline-block;
    @include title-border;
    margin-bottom: 10px;

    @media (max-width:414px) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px $light-brown;

    @media (max-width:414px) {
      font-size: 24px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 2px 2px 3px $light-brown;

    @media (max-width:414px) {
      font-size: 16px;
    }
  }

  .note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:768px) {
      flex-direction: column;
      align-items: start;
    }
    
  }

  .list {
    border: 1px solid $dark-brown;
    margin-top: 10px;

    ul {
      margin-top: 10px;
      font-size: 20px;

      @media (max-width:414px) {
        font-size: 16px;
      }

      li {
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }
  }


  div>ul>li {

    div {
      &:last-child {
        padding-left: 25px;
      }
    }
  }

  li>ul {
    padding-left: 40px;

    @media (max-width:414px) {
      padding-left: 20px;
    }

    li {
      padding-right: 10px;
    }
  }

  .list-icon {
    padding-right: 10px;
    padding-left: 5px;

    @media (max-width:414px) {
      padding-right: 5px;
    }
  }

  .payment {
    display: flex;
    margin-top: 10px;

    @media (max-width:414px) {
      display: block;
    }
  }

  .reserve-supply-info {
    margin: 10px 0;

    li {
      margin-bottom: 10px;

      @media (max-width:414px) {
        margin-bottom: 0;
      }
    }
  }

  .warring {
    color: $danger;
    font-size: 14px;
    padding-top: 10px;
  }
}
