.dashboard-product {
  .search {
    right: 45px;
    margin-top: 10px;

    @media (max-width:820px) {
      right: 7px;
    }

    @media (max-width:414px) {
      right: 0;
    }
  }

}

.product-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 18%;
  height: 305px;
  margin: 0 10px 20px;
  border: 1px solid darken($light-brown, 10%);
  overflow: hidden;
  box-shadow: 0 0 15px $light-brown;
  position: relative;

  @media (max-width:820px) {
    width: 32%;
    margin: 0 4px 20px;
  }

  @media (max-width:414px) {
    width: 100%;
    margin: 0 3px 20px;
  }

  &-header {
    width: 100%;
    height: 140px;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .is_enabled {
      position: absolute;
      top: 3px;
      right: 5px;

      span {
        font-size: 30px;
      }
    }

    .category {
      position: absolute;
      top: 5px;
      right: 40px;
      background: rgba(167, 147, 135, .7);
      padding: 5px 10px;
      border-radius: 15px;
    }
  }

  &-body {
    padding: 10px;
  }

  &-title {
    @include font-size(24px, 20px, 24px);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted $light-brown;
  }

  &-id {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    div {
      &:first-child {
        width: 20%;
      }

      &:last-child {
        @include font-size(14px, 12px, 16px);
      }
    }
  }

  &-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    div {
      &:first-child {
        width: 22%;
        margin-bottom: 4px;

        @media (max-width:820px) {
          width: 25%;
        }
      }
    }

    .haveDiscountPrice {
      text-decoration: line-through;
      font-size: 12px;
      color: #ccc;
      font-style: oblique;
      margin-left: 5px;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: lighten($light-brown, 5%);
    display: flex;
    justify-content: space-between;

    div {
      width: 33.3333%;
      border-right: 1px solid darken($light-brown, 10%);

      &:last-child {
        border-right: none;
      }
    }

    button {
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }
  }
}
.dashboard-pagination{
  margin-bottom: 20px;
}