.slider {
  position: relative;
  height: calc(100vh - 64px);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-link {
    position: absolute;
    bottom: 25%;
    right: 5%;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px $light-brown;

    @media (max-width:820px) {
      bottom: 40%;
    }

    @media (max-width:414px) {
      width: 320px;
      @include absolute-center;
    }

    p {
      font-size: 24px;
      text-shadow: 1px 1px 3px $light-brown;
      @media (max-width:414px) {
        font-size: 16px;
        white-space:nowrap
      }
    }

    button {
      border: 1px solid $light-brown;
      position: absolute;
      bottom: 20%;
      right: 5%;
      font-size: 18px;
      transition: all .3s;
      @media (max-width:414px) {
        font-size: 16px;
        white-space:nowrap
      }

      &:hover {
        text-shadow: 2px 2px 0 #fff;
        box-shadow: 2px 2px 0 $light-brown;
      }
    }

  }
}