.about-h1 {
  position: absolute;
  top: 106px;
  left: 50%;
  transform: translateX(-50%);
  @include title-border;
  @include font-size(36px, 28px, 20px);
  white-space: nowrap;

  @media (max-width:414px) {
    top: 92px;
  }
}

.about-bg {
  margin: 0 auto;
  height: 300px;
  width: 80%;
  background-image: url('./image/about.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.about {
  margin: 186px auto 0;

  @media (max-width:414px) {
    margin-top: 146px;
  }

  div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;

    h2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include title-border;
      margin-bottom: 10px;
      @include font-size(36px, 28px, 20px);


    }

    p {
      padding-top: 60px;
      margin-bottom: 10px;
      letter-spacing: 2px;
      line-height: 1.5;
      @include font-size(24px, 20px, 16px);

      @media (max-width:414px) {
        padding-top: 40px;
      }
    }
  }
}