.container {
  max-width: 1360px;
  margin: 0 auto;

  @media (max-width:820px) {
    max-width: 700px;
  }

  @media (max-width:414px) {
    max-width: 330px;
  }
}

.material-symbols-outlined {
  cursor: pointer;
}

.logo-font{
  font-family: 'Playfair Display', serif;
}
.flex-jcsb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  align-items: center;
}
.mt10{
  margin-top: 10px;
}
.scroll-top{
  @include scroll-btn(100px);
}
.m-d-none{
  @media (max-width:820px) {
    display: none;
  }
}