.container {
  max-width: 1360px;
  margin: 0 auto;

  @media (max-width:768px) {
    max-width: 700px;
  }

  @media (max-width:375px) {
    max-width: 320px;
  }
}

.material-symbols-outlined {
  cursor: pointer;
}

.logo-font{
  font-family: 'Playfair Display', serif;
}
.flex-jcsb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt10{
  margin-top: 10px;
}