.pagination {
  display: flex;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 10px;

    div {
      background: lighten($dark-brown, 35%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 24px;
      position: relative;
      span{
        @include absolute-center;
      }

      &:hover {
        background: lighten($dark-brown, 40%);
        color: #fff;
      }
    }
  }


  .active {
    background: lighten($light-brown, 10%);
    color: #fff;
  }

  .disabled {
    cursor: no-drop;

    &:hover {
      background: lighten($dark-brown, 35%);
      color: $dark-brown;
    }
  }

  .material-icons-outlined {
    font-size: 36px;
  }
}