$light-brown: #a79387;
$dark-brown: #533f34;
$danger: #ff5f5f;
$success: #99dd00;

@mixin size($lw, $lh, $mw, $mh, $sw, $sh , $bdrs15: false) {
  width: $lw;
  height: $lh;

  @media (max-width:820px) {
    width: $mw;
    height: $mh;
  }

  @media (max-width:414px) {
    width: $sw;
    height: $sh;
  }

  @if $bdrs15 {
    border-radius: 15px;
  }
}

@mixin font-size($lfz, $mfz, $sfz ) {
  font-size: $lfz;

  @media (max-width:820px) {
    font-size: $mfz;
  }

  @media (max-width:414px) {
    font-size: $sfz;
  }

}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin title-border {
  padding-bottom: 2px;
  border-bottom: 2px solid $dark-brown;
}

@mixin scroll-btn($b) {
  font-size: 50px;
  position: fixed;
  right: 100px;
  bottom: $b;

  &:hover {
    color: lighten($dark-brown, 15%);
  }
  @media (max-width:820px) {
    right: 50px;
  }
  @media (max-width:414px) {
    right: 30px;
  }
}